page-profile {

    .field_style{
        margin: 10px;
        margin-top: 10px;
    }

    .pro_pic_style{
        position: relative;
        left: 70px;
        right: 70px;
        margin: 10px;
    }

}
